<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%blue(%d{YYYY-MM-dd-HH:mm:ss.SSS}) %white([%thread]) %yellow(%-5level) %white(%logger{36})-%white(%msg%n)</pattern>
        </encoder>
    </appender>
    <logger name="org.hibernate" level="warn" />
    <logger name="org.hibernate.SQL" level="warn" />
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="warn" />
    <logger name="org.hibernate.type.BasicTypeRegistry" level="warn" />
    <logger name="net.sf.ehcache" level="warn" />
    <logger name="org.jboss" level="warn" />
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>